In [1]:
#1 tuple cannot updated but if we convert the tuple into list it will be updated
a=(2,4,3,5,'ram')
a

(2, 4, 3, 5, 'ram')

In [2]:
b=list(a)
b

[2, 4, 3, 5, 'ram']

In [3]:
b[1]=(45)
b

[2, 45, 3, 5, 'ram']

In [5]:
#2 adding tuple into tuple
p=('ram','sham')
q=('mango','apple')

p=p+q
p

('ram', 'sham', 'mango', 'apple')

In [6]:
#3 remove item
mytuple=(23,45,75,262)
y=list(mytuple)
y.remove(23)
y

[45, 75, 262]

In [9]:
#4
mytuple1=('ram','sham','mango','apple')
for i in range(len(mytuple1)):
    print(mytuple1[i])

ram
sham
mango
apple

In [11]:
#5
mytuple=(23,45,357,4798,489,4)
i=0
while i <len(mytuple):
    print(mytuple[i])
    i=i+1

23
45
357
4798
489
4

In [13]:
#6
def is_prime(num):
    if num <= 1:
        return "Not prime"
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return "Not prime"
    return "Prime"

In [14]:
is_prime(56)

'Not prime'

In [15]:
#7
def is_even(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'

In [16]:
is_even(24)

'even'

In [17]:
#8
def fact(num):
    if num==0:
        return 1
    else:
        return num*fact(num-1)

In [18]:
fact(24)

620448401733239439360000

In [19]:
fact(4)

24

In [20]:
#9
def reverse(a):
    return a[::-1]

In [21]:
a=[2,356,35,3]
reverse(a)

[3, 35, 356, 2]

In [33]:
#10
def min(a,b,c):
    return min(a,b,c)

In [ ]:
min(1,2,3)