In [2]:
#1 list append function

names=["om","ram",'sham','ganesh','hariom','mahesh','lalu','chintu','golu','chotu']

names

['om',
 'ram',
 'sham',
 'ganesh',
 'hariom',
 'mahesh',
 'lalu',
 'chintu',
 'golu',
 'chotu']

In [3]:
names.append('soham')
names

['om',
 'ram',
 'sham',
 'ganesh',
 'hariom',
 'mahesh',
 'lalu',
 'chintu',
 'golu',
 'chotu',
 'soham']

In [4]:
# 2 append numeric element in the list
names.append(2)
names

['om',
 'ram',
 'sham',
 'ganesh',
 'hariom',
 'mahesh',
 'lalu',
 'chintu',
 'golu',
 'chotu',
 'soham',
 2]

In [5]:
#3 insert elements in the list 
names.insert(3,34)
names

['om',
 'ram',
 'sham',
 34,
 'ganesh',
 'hariom',
 'mahesh',
 'lalu',
 'chintu',
 'golu',
 'chotu',
 'soham',
 2]

In [7]:
#4  extend elements in the list
names.extend([23,45,67])
names

['om',
 'ram',
 'sham',
 34,
 'ganesh',
 'hariom',
 'mahesh',
 'lalu',
 'chintu',
 'golu',
 'chotu',
 'soham',
 2,
 23,
 45,
 67]

In [8]:
# 5 pop operation on list to remove the element it will LIFO
names.pop()
names

['om',
 'ram',
 'sham',
 34,
 'ganesh',
 'hariom',
 'mahesh',
 'lalu',
 'chintu',
 'golu',
 'chotu',
 'soham',
 2,
 23,
 45]

In [9]:
#6 
names.pop(2)
names

['om',
 'ram',
 34,
 'ganesh',
 'hariom',
 'mahesh',
 'lalu',
 'chintu',
 'golu',
 'chotu',
 'soham',
 2,
 23,
 45]

In [11]:
#7
names.remove('ganesh')
names

['om',
 'ram',
 34,
 'hariom',
 'mahesh',
 'lalu',
 'chintu',
 'golu',
 'chotu',
 'soham',
 2,
 23,
 45]

In [15]:
#8 
names.remove(34)
names

['om',
 'ram',
 'hariom',
 'mahesh',
 'lalu',
 'chintu',
 'golu',
 'chotu',
 'soham',
 2,
 23,
 45]

In [16]:
#9
names.clear()
names

[]

In [18]:
#10
del names
names

NameError: name 'names' is not defined