In [2]:
#1 write a python to display the elements of tuple using for loop

n=(1,2,3,4,5,6,7,8,9,10)
for i in n:
    print(n[i-1])

1
2
3
4
5
6
7
8
9
10

In [6]:
#2 Write a python script to display all elements of given tuple
n=(23,45,67,89,35,22,45)
print(n)
l=len(n)
print('len=',l)
n1=list(range(0,l))
print(n1)
for i in n1:
    print(n[i])

(23, 45, 67, 89, 35, 22, 45)
len= 7
[0, 1, 2, 3, 4, 5, 6]
23
45
67
89
35
22
45

In [7]:
#3 Given a tuple n=(2,34,5,6,78,9,56,4) * display elements of tuple * display sum of all the tuple element

n=(2,34,5,6,78,9,56,4)
print(n)
l=len(n)
print('len=',l)

n1=list(range(0,l))

s=0
for i in n1:
    print(n[i])
    s=s+n[i]
print('sum of all number',s)

(2, 34, 5, 6, 78, 9, 56, 4)
len= 8
2
34
5
6
78
9
56
4
sum of all number 194

In [8]:
#4 Given a tuple n=(-9,34,-25,6,8,9,-6,34) * print total +ve elements in tuple
n=(-9,34,-25,6,8,9,-6,34) 
print(n)
l=len(n)
print('len=',l)

n1=list(range(0,l))
c=0
for i in n1:
    print(n[i])
    if (n[i]>0):
        c=c+1
print("positive numbers",c)

(-9, 34, -25, 6, 8, 9, -6, 34)
len= 8
-9
34
-25
6
8
9
-6
34
positive numbers 5

In [10]:
# 5 Given a tuple n=(9,34,25,6,8,7,6,37) * print total even elements in tuple
n=(9,34,25,6,8,7,6,37)
print(n)
l=len(n)
print('len=',l)
n1=list(range(0,l))
c=0
for i in n1:
    print(n[i])
    if (n[i]%2==0):
        c=c+1
print('total even number',c)

(9, 34, 25, 6, 8, 7, 6, 37)
len= 8
9
34
25
6
8
7
6
37
total even number 4

In [15]:
# 6 Create a dictionary that maps student names to their corresponding grades in a class (strings to integers).

student_grades={'Anand':99,'Gandharv':91,'Abhinav':93,'Gaurav':85,'Srushti':97}
student_name=str(input("enter the student name:"))
 
    
if student_name in student_grades:
    print(student_name,"has",{student_grades[student_name]},'grades')
else:
    print("student not found")

enter the student name:Anand
Anand has {99} grades

In [17]:
#7 write a python program to join/merge/concatenate  two dictionary 

d1={23:'ram',24:'sham',25:'om'}
d2={'jay':98,'ganesh':67}

d3={}
for i in (d1,d2):
    d3.update(i)
print(d3)

{23: 'ram', 24: 'sham', 25: 'om', 'jay': 98, 'ganesh': 67}

In [24]:
#8 write a program to accept a key from user and remove that key from the dictionary

d1={1:'name',2:'DOB',3:'ADD',4:'loc'}

k=int(input("enter the key:"))
if k in d1:
    d1.pop(k)
    print(d1)
else:
    print('key not found')

enter the key:1
{2: 'DOB', 3: 'ADD', 4: 'loc'}

In [26]:
#9 write a program to display max and min values in dictionary

d1={'apple':23,'mango':34,'grapes':44,'orange':56}

mx=max(d1.values())
mn=min(d1.values())

print("maximum values ",mx)
print("minimum values",mn)

maximum values  56
minimum values 23

In [27]:
# 10 accept the key from the user and modify the value
d1={1:'aman',2:'suman',3:'aman',4:"kranti",5:"suman"}

k=int(input("enter the key:"))

v=input("enter the value:")

d1[k]=v
print(d1)

enter the key:1
enter the value:ram
{1: 'ram', 2: 'suman', 3: 'aman', 4: 'kranti', 5: 'suman'}