In [21]:
# 1: Create a list by picking an odd-index items from the first list and even index items from the second

l1=[2,2,4,4,6,75,3,6,8]
l2=[3,87,877,56,7665,4]

print(l1[1::2]) # it will print odd index item

print(l2[0::2])# it will print even index item

[2, 4, 75, 6]
[3, 877, 7665]

In [25]:
# 2 Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

l1=[23,43,63,32,42,56,86,9,65]

remove=l1.pop(4)
print(l1)

add=l1.insert(2,42)
print(l1)

add=l1.append(42)
print(l1)

[23, 43, 63, 32, 56, 86, 9, 65]
[23, 43, 42, 63, 32, 56, 86, 9, 65]
[23, 43, 42, 63, 32, 56, 86, 9, 65, 42]

In [36]:
# Slice list into 3 equal chunks and reverse each chunk
l1 = [11, 45, 8, 23, 14, 12, 78, 45, 89]

length=len(l1)

chunk_size=int(length/3)

start=0
end=chunk_size

for i in range(3):
    index=slice(start,end)
    
    list1=l1[index]
    print(list1,end=' ')

    print("reverse value",list(reversed(list1)))
    start=end
    end+=chunk_size

[11, 45, 8] reverse value [8, 45, 11]
[23, 14, 12] reverse value [12, 14, 23]
[78, 45, 89] reverse value [89, 45, 78]

In [40]:
# 4: Count the occurrence of each element from a list

l1=[11, 45, 8, 11, 23, 45, 23, 45, 89]

count_dict=dict()

for item in l1:
    if item in count_dict:
        count_dict[item]+=1
    else:
        count_dict[item]=1
print(count_dict)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [50]:
#5: Create a Python set such that it shows the element from both lists in a pair
first_list = [2, 3, 4, 5, 6, 7, 8]

second_list = [4, 9, 16, 25, 36, 49, 64]


res=zip(first_list,second_list)
res1=set(res)
res1

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

In [61]:
# 6: Find the intersection (common) of two sets and remove those elements from the first set

first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

a=first_set.intersection(second_set)
print(a)

for i in a:
    first_set.remove(i)
    second_set.remove(i)
print(first_set)
print(second_set)

{57, 83, 29}
{65, 23, 42, 78}
{48, 67, 73, 43}

In [67]:
#  7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set

first_set = {57, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

print(first_set.issubset(second_set))

print(second_set.issubset(first_set))

print(first_set.issuperset(second_set))

print(second_set.issuperset(first_set))

if first_set.issubset(second_set):
    first_set.clear()
elif second_set.issubset(first_set):
    second_set.clear()
print(first_set)
print(second_set)

True
False
False
True
set()
{48, 67, 83, 73, 43, 29, 57}

In [71]:
# 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}


# create new list
roll_number[:] = [item for item in roll_number if item in sample_dict.values()]
print("after removing unwanted elements from list:", roll_number)

after removing unwanted elements from list: [47, 69, 76, 97]

In [72]:
# 9: Get all values from the dictionary and add them to a list but don’t add duplicates
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53,
         'july': 54, 'Aug': 44, 'Sept': 54}



speed_list = list()
for val in speed.values():

    if val not in speed_list:
        speed_list.append(val)
print("unique list", speed_list)

unique list [47, 52, 44, 53, 54]

In [73]:
#10: Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 52, 44, 53, 54, 87, 52, 53]


sample_list = list(set(sample_list))
print("unique list", sample_list)

t = tuple(sample_list)
print("tuple ", t)

print("Minimum number is: ", min(t))
print("Maximum number is: ", max(t))

unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87