In [24]:
#1 . Write a Python program to create a class representing a Circle. Include methods to calculate its area and perimeter.

class circle():
    def inputs(self):
        self.r=int(input('enter the radius:'))
class area(circle):
    def Carea(self):
        self.area= 3.14*(self.r**2)
        print('area of circle is:',self.area)
class perimeter(circle):
    def Cperi(self):
        self.peri=2*3.14*self.r
        print(self.peri)

In [25]:
obj=area()

In [26]:
obj.inputs()

enter the radius:4

In [27]:
obj.Carea()

area of circle is: 50.24

In [28]:
obj2=perimeter()

In [29]:
obj2.inputs()

enter the radius:24

In [30]:
obj2.Cperi()

150.72

In [39]:
from datetime import date

In [1]:
# 2. Write a Python program to create a person class. 
#Include attributes like name, country and date of birth. Implement a method to determine the person's age
from datetime import date
class person():
    def __init_(self ,name,country,DOB):
        self.Name=name
        self.Country=country
        self.DOB=DOB
    def age_cal(self):
        today=date.today()
        age=today.year - self.DOB.year
        if today< date(today.year,self.DOB.month,self.DOB.day):
            age-=1
        return age

In [11]:
person1=person('srujan','india',date(2003,4,29))
print("person1:")
print('name',person1.name)
print('country',person1.country)
print('DOB',person1.DOB)
print('age',person1.age_cal())

TypeError: person() takes no arguments

In [49]:
#3Write a Python program to create a calculator class. Include methods for basic arithmetic operations.

class calculator():
    def add(self,x,y):
        return x+y
    def sub(self,x,y):
        return x-y
    def mul(self,x,y):
        return x*y
    def div(self,x,y):
        if y!=0:
            return x/y
        else:
            print('cannot divide by zero')

In [50]:
cal=calculator()

In [51]:
cal.add(2,5)

7

In [52]:
cal.sub(5,30)

-25

In [53]:
cal.mul(2,5)

10

In [54]:
cal.div(10,2)

5.0

In [2]:
#4  sum the numbers from 1 to 20 using for loop

sum=0
for i in range(1,21):
    sum+=i
print(sum)

210

In [2]:
#5 Display the numbers in reverse from 100 to 1
num=101
while num>1:
    num-=1
    print(num)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [3]:
# 6 Display multiples of 2 from 10 to 50 using range
for i in range(10,51):
    if i%2==0:
        print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [6]:
#7 )From the below nested dictionary, pick the word "Bangalore". 

d = {1:'One',2:[1,{'Two':['Ch','Cbe','Salem',{'Place':[5,6,7,'Bangalore']}]}]}

In [7]:
d[2][1]['Two'][3]['Place'][3]

'Bangalore'

In [11]:
#8 Use functions to return square of numbers from 2 to 5 
def print_square():
    for i in range(2,6):
        sq=i**2
        print(sq)

In [12]:
print_square()

4
9
16
25

In [13]:
#9 Solve the expression. 5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')
exp=5.2+True+bool(-5)-4+(42//5)+bool(0)+False+int(5.9)+float('1')
exp

17.2

In [15]:
#10 Write code to test whether the given number lies between 1 and 10
num=int(input("enter the number"))
if num>0 and num<11:
    print("num lies between 1 to 10")
else:
    print("out of range")

enter the number10
num lies between 1 to 10