In [9]:
 # 1 . Python Program to find sum of array

def sumofarray(a):
    b=0
    for i in a:
        b=b+i
    return b

In [11]:
sumofarray(np.array([4,3,2]))

9

In [12]:
#2.Write a program to create, concatenate and print a string and
# accessing sub-string from a given string
s1=input('enter the first string:')
s2=input('enter the second string:')

print('first string',s1)
print('second string',s2)

print('concatenate both string',s1+s2)
print('sub string',s1[3:5])
print('sub string',s2[3:5])

enter the first string:Abhinav
enter the second string:Navalkar
first string Abhinav
second string Navalkar
concatenate both string Abhinav Navalkar
sub string in
sub string al

In [13]:
#3.Create and explain the working of  tuple.
#tuple in type of data structure in which we store a distinct value .
#tuple are immutable means we cannot update or remove the item from the tuple .
# tuple are shown by pareanthesis '( )'

mytuple=(1,2,3,4)
mytuple

(1, 2, 3, 4)

In [14]:
mytuple1=() # empty tuple
mytuple1

()

In [15]:
t1=tuple()
t1

()

In [16]:
type(t1)

tuple

In [17]:
# 4.Write a python program to find largest of three numbers.
n1=int(input('enter the num1:'))
n2=int(input('enter the num2:'))
n3=int(input('enter the num3:'))

if n1>n2 and n1>n3:
    print('the highest num is:',n1)
elif n2>n3 and n2>n3:
    print('the highest num is:',n2)
else :
    print('the highest num is:',n3)

enter the num1:45
enter the num2:34
enter the num3:2543
the highest num is: 2543

In [21]:
# 5 Write a Python program to convert temperatures to and from Celsius,
#Fahrenheit. [ Formula: c = (f-32)(5/9)]

temp=float(input('enter the temperatur:'))
unit=input('enter the unit:')

if unit=='C' or unit=='c':
    newtemp=9/5*temp+32
    print('the temperature in fahrenheit is:',newtemp)
elif unit=='F' or unit=='f':
    newtemp=5/9*temp-32
    print('the temperature in celcius is:',newtemp)
else:
    print('unknown unit is pass')

enter the temperatur:38
enter the unit:c
the temperature in fahrenheit is: 100.4

In [28]:
# 6 Write a program that accepts the lengths of three sides of a triangle
#as inputs. The program output should indicate whether or not the triangle
#is a right triangle (Recall from the Pythagorean Theorem that in a right
#triangle, the square of one side equals the sum of the squares of the
#other two sides).

b=int(input('enter the base:'))
h=int(input('enter the height:'))
hypo=int(input('enter the hypo:'))

if (hypo**2)==(b**2)+(h**2):
    print('the triangle is a right angle triangle.')
else:
    print('the triangle is not right angle triangle.')

enter the base:3
enter the height:4
enter the hypo:5
the triangle is a right angle triangle.

In [38]:
#7  Given a range of the first 10 numbers, Iterate from the start number to the end number, 
#and In each iteration print the sum of the current number and previous number
def sumof(num):
    pnum=0
    for i in range(num):
        sum=pnum+i
        print('the current num is:',i,'privious num is:',pnum,'sum is:',sum)
        pnum=i

In [41]:
sumof(11)

the current num is: 0 privious num is: 0 sum is: 0
the current num is: 1 privious num is: 0 sum is: 1
the current num is: 2 privious num is: 1 sum is: 3
the current num is: 3 privious num is: 2 sum is: 5
the current num is: 4 privious num is: 3 sum is: 7
the current num is: 5 privious num is: 4 sum is: 9
the current num is: 6 privious num is: 5 sum is: 11
the current num is: 7 privious num is: 6 sum is: 13
the current num is: 8 privious num is: 7 sum is: 15
the current num is: 9 privious num is: 8 sum is: 17
the current num is: 10 privious num is: 9 sum is: 19

In [60]:
#8 Given a string, display only those characters which are present at an even index number.

def printevenstr(str):
    for i in range(0,len(str),2):
        print('index[',i,']',str[i])

In [61]:
inputstr='Abhinav'
printevenstr(inputstr)

index[ 0 ] A
index[ 2 ] h
index[ 4 ] n
index[ 6 ] v

In [65]:
#9 20.Return the count of sub-string "Abhinav" appears in the given string

str="Abhinav is good developer. Abhinav is a data scientist "

c=str.count('Abhinav')
c

2

In [66]:
#10.Write a program (function!) that takes a list and returns 
#a new list that contains all the elements of the first list minus all the duplicates.  
def listdup(x):
    y=[]
    for i in x:
        if i not in y:
            y.append(i)
    return y

In [67]:
listdup([1,2,3,2,42,1,31,1,1,1])

[1, 2, 3, 42, 31]