In [1]:
#1 Python function that prints a text

def print_text(s1):
    return s1

In [3]:
a='my name is abhinav'
print_text(a)

'my name is abhinav'

In [4]:
#2 Python function that accepts two numbers as arguments and returns the sum
def sum(a,b):
    return a+b

In [5]:
a=int(input('enter any number:'))
b=int(input('enter any number:'))
sum(a,b)

enter any number:4
enter any number:6

10

In [24]:
#3 Python function that accepts different values as parameters and returns a list

def print_list(a,b):
    print(list(a+b))

In [25]:
a=1,2,3,4,6,3
b=234,5,53
print_list(a,b)

[1, 2, 3, 4, 6, 3, 234, 5, 53]

In [29]:
#4 Python function that returns a dictionary
def print_dict(b):
    b={1:'ram',2:'sham',3:"om"}
    return (b)

In [30]:
print_dict(b)

{1: 'ram', 2: 'sham', 3: 'om'}

In [31]:
#5 Python function that returns a tuple

def print_tuple():
    t1=(1,23,42,43,44,3)
    return t1

In [34]:
print_tuple()

(1, 23, 42, 43, 44, 3)

In [42]:
#6 Python function that accepts a list as a parameter

def acclist(l1):
    
        return l1

In [43]:
l2=['apple','mango','grapes','watermelon']
acclist(l2)

['apple', 'mango', 'grapes', 'watermelon']

In [44]:
# 7Python function that accepts a dictionary as a parameter

def accdict(d):
    return d

In [45]:
d1={1:234,2:24234,3:43342}
accdict(d1)

{1: 234, 2: 24234, 3: 43342}

In [46]:
#8 Python function using positional arguments

def sub(a,b):
    return a-b

In [47]:
print(sub(34,78))

-44

In [48]:
#9 Python function using keyword arguments
def print_name(name,age):
    print(name,'is',age,'years old.')

In [51]:
print_name(name='abhinav',age=20)
print_name('abhinav',20)

abhinav is 20 years old.
abhinav is 20 years old.

In [52]:
#10 Python function using default arguments
def greet(name,greeting='Hello'):
    print(greeting,name)

In [53]:
print(greet(name='abhinav'))

Hello abhinav
None